<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="ees" providerName="MySql.Data.MySqlClient" connectionString="server=localhost;uid=root;database=iscof_ees_db;Charset=utf8;Convert Zero DateTime=true" />
    <add name="ees_remote" providerName="MySql.Data.MySqlClient" connectionString="server=192.168.1.32;uid=iscof_ees;password=iscof;database=iscof_ees_db;Charset=utf8;Convert Zero DateTime=true" />    
</connectionStrings>
</configuration>